* {
	font-size: 12pt;
	font-family: "Verdana", "Geneva", sans-serif;
}

body {
	background-color:gray;
	padding-left: 1em;
}

fieldset {
	background-color:silver;
	border: 2px outset gray;
	border-radius: 10px;
}

legend {
	background-color: white;
	border: 2px outset gray;
	padding: 0.2em;
}

h1 {
	font-weight: bold;

}

input[type="submit"] {
	background-color:springgreen;
	font-size: 120%;
	font-weight: bold;
}